[Unit]
Description=ServerStatus-Rust Client
After=network.target

[Service]
User=bypass
Group=bypass
Environment="RUST_BACKTRACE=1"
WorkingDirectory=/opt/ServerStatus
EnvironmentFile=/opt/ServerStatus/.env
ExecStart=/opt/ServerStatus/stat_client -n --disable-ping --version
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
